header {
    background-color: lightcoral;
    font-size: x-large;
    font-family: "Roboto Thin", serif;
    color: black;
    text-align: center;
}

body img {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

body {
    text-align: center; 
    color:black; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body a  {
    color: red;
    text-decoration: none;
}

body a:hover   {
    color: darkred;
    text-decoration: underline;
}